
@{
    ViewBag.Title = "Index";
}

<h2>Admin Index</h2>


@Html.ActionLink("Books", "Index", "Book", null, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Boorowing Books", "Index", "BookBorrow", null, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Book Category", "Index", "Category", null, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Register A Person", "Index", "PersonRegister", null, new { @class = "btn btn-primary btn-large" })

